
*{
    font-style: oblique;
}
.tamFonte{
    font-size: x-large;
}
.centralizar{
    text-align: center;
}

.fundo{
    background-image: url(fundo.jpg);
}
table,#img{
    margin:auto;
    border-radius:  50%;
}
#lado{
    float: right;
    width: 40%;
    height: 400px;

}
.tamDiv{
    width: 50%;
    height: 70%;
}


td{
    padding: 20px;
}

.rodape{
    background-color: rgb(206, 206, 178);
   /* background-color: rgb(0, 250, 42);*/
    color: black;
    padding: 1%;
    font-size: larger;
    text-align: center;
}

.coluna0{width: 10%;}
.coluna1{width: 20%;}
.coluna2{width: 30%;}
.coluna3{width: 40%;}
.coluna4{width: 50%;}
.coluna5{width: 60%;}
.coluna6{width: 70%;}
.coluna7{width: 80%;}
.coluna8{width: 90%;}
.coluna9{width: 100%;}

[class*="coluna"]{
    background-color: rgb(116, 180, 172);
    /*background-color: rgb(253, 0, 127);*/

}
.botao-efeito2:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 1%;
}
.botao-efeito1{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
#tam-botao{
    width: 50%;
    height: 100%;
}
#tamInput{
    width: 58px;
    border-radius: 15%;
}
