<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
    <head>
        <h1>Formulário</h1>
    </head>
    <form>
        <div>
            <label  for="username">Nome completo</label>
        </div>
        <div>
            <input type="text" name="username" placeholder="Digite seu nome completo" required>
        </div>
        <br>


        <div>
            <label  for="useremail">Email</label>
        </div>
        <div>
            <input type="text" name="useremail" placeholder="Digite seu Email" required>
        </div>
        <br>


        <div>
            <label  for="userphone">Telefone</label>
        </div>
        <div>
            <input type="text" name="userphone" placeholder="Digite seu Telefone" required>
        </div>
        <br>


        <div>
            <label for="descricao">Escreva seu comentário</label>
        </div>
        <div>
            <textarea name="descricao" id="descricao" cols="20" rows="10" placeholder="Escreva um comentário..." required></textarea>
        </div>
        <br><br>


        <div>
            <address>
                <a href="mailto:reinanzinho100@gmail.com"><input type="button" value="Enviar"></a>
            </address>
        </div>
    </form>

    
    
</body>
</html>