<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telha</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../style/style.css">
</head>
    
<body class="coluna9">
    <div>
        <header class="fundo centralizar">
            <h1>Telhas de barro</h1>
            <p class="tamFonte">Venha adquirir o seu Agora.</p>
        </header> 
    </div>
    
    <div class="coluna9">
        <div id="lado">
            <img id="img"src="../images/srcTelhado/telhado1.jpg"alt="" width="50%"height="50%">
        </div>
        <div class="clouna4">
            <table>
            <tr>
                <td>
                    <img src="../images/srcTelhado/telhado2.jpg" alt="Telha de barro." width="200" height="210">
                    <p>Valor : <R1>400,00 R$</R1>&ensp;/&ensp;1000u</p>
                    <label for="lname">Unidade</label><br>
                    <input id="tamInput"type="number"value="1"name="lname"><br>
                    <input class="botao-efeito1 botao-efeito2"type="button" value="Comprar"><br>
                </td>
                <td>
                    <img src="../images/srcTelhado/telhado4.jpg" alt="Telha de barro." width="200" height="210">
                    <p>Valor : <R1>400,00 R$</R1>&ensp;/&ensp;1000u</p>
                    <label for="lname">Unidade</label><br>
                    <input id="tamInput"type="number"value="1"name="lname"><br>
                    <input class="botao-efeito1 botao-efeito2"type="button" value="Comprar"><br>
                </td>
                <td>
                    <img src="../images/srcTelhado/telhado4.jpg" alt="Telha de barro." width="200" height="210">
                    <p>Valor : <R1>400,00R$</R1>&ensp;/&ensp;1000u</p>
                    <label for="lname">Unidade</label><br>
                    <input id="tamInput"type="number"value="1"name="lname"><br>
                    <input class="botao-efeito1 botao-efeito2"type="button" value="Comprar"><br>
                </td>
            </tr>
            </table>
        </div>
    </div>
</body>
</html>